<div class="container">
        <div class="card-body" *ngIf="isLogged | async">
          <h1 class="card-title">{{questionData.question | fixHtmlSymbols}}</h1>
            <div class="row">
              <div class="col-6">
                <a appButtonColor [questionData]="questionData" (sendGivenAnswer)="onSubmit($event)"  class="btn btn-primary">{{answers[0]}}</a>
              </div>
              <div class="col-6">
                <a appButtonColor [questionData]="questionData" (sendGivenAnswer)="onSubmit($event)"  class="btn btn-primary">{{answers[1]}}</a>
              </div>
              <div class="w-100"></div>
              <div class="col-6 mt-1">
                <a *ngIf="answers[2]" appButtonColor [questionData]="questionData" (sendGivenAnswer)="onSubmit($event)"  class="btn btn-primary">{{answers[2]}}</a>
              </div>
              <div class="col-6 mt-1">
                <a *ngIf="answers[3]" appButtonColor [questionData]="questionData" (sendGivenAnswer)="onSubmit($event)"  class="btn btn-primary">{{answers[3]}}</a>
              </div>
            </div>
        </div>
  </div>