h1{
    color: black;
    font-family: sans-serif;
}
.btn-primary{
    width: 100%;
}
.btn-primary:hover,.btn-primary:active{
    background-color: white;
    color:rgb(52, 145, 250);
    border-color: rgb(52, 145, 250);
    border-style: solid;
}
.btn-primary:focus{
    background-color: white;
    color:midnightblue;
    border-color: rgb(52, 145, 250);
    border-style: solid;
    font-weight: bolder;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color:white
}