h1{
    color: black;
    font-family: sans-serif;
}
.btn-primary{
    width: 100%;
    border-radius: 20px;
}
.btn-primary:hover:enabled,.btn-primary:active:enabled{
    background-color: white;
    color:rgb(52, 145, 250);
    outline: none;
    /*border-color: rgb(52, 145, 250);*/
    /*border-style: solid;*/
}

.btn-primary:disabled {
    opacity: 1;
}

/*.btn-primary:focus{*/
/*    background-color: white;*/
/*    color:darkblue;*/
/*    border-color: white;*/
/*    border-style: solid;*/
/*    font-weight: bolder;*/
/*    font-style: italic;*/
/*    font-family: Verdana, Geneva, Tahoma, sans-serif;*/
/*}*/

:host /deep/ a span {
    pointer-events: none;
}