<div class="container">

    <h4>Top players:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Points</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of (topFiveUsers | async); index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{ user.username }}
            </td>
            <td>{{ user.points | number }}</td>
        </tr>
        </tbody>
    </table>

</div>