<body>
    <h3>Login</h3>
    <form  (ngSubmit)="onSubmit(userForm.value); userForm.reset()" #userForm="ngForm">
        <label for="username">Username:</label>
    <input type="text" class="form-control" id="username"
       required minlength="5"
       #username="ngModel"
       name="username"
       ngModel
       >
       <div *ngIf="username.invalid && (username.dirty || username.touched)"
       class="alert alert-danger">
   
     <div *ngIf="username.errors.required">
       Username is required.
     </div>
     <div *ngIf="username.errors.minlength">
        Username must be at least 5 characters long.
     </div>
   </div>
    <label for="password">Password:</label> 
    <input type="text" class="form-control" id="password"
       required minlength="5"
       name="password"
       #password="ngModel"
       ngModel
       >
       <div *ngIf="password.invalid && (password.dirty || password.touched)"
       class="alert alert-danger">
   
     <div *ngIf="password.errors.required">
       Password is required.
     </div>
     <div *ngIf="password.errors.minlength">
        Password must be at least 5 characters long.
     </div>
     </div>
     <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>

    </form>


</body>