/* .nav-tabs{
  position: absolute;
  top: 20px;
  left: 30%;
  right: 30%;
  float: left;
  overflow: hidden;
} */

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}