<!-- <a *ngFor="let categorie of categories" >{{categorie}}</a> -->
<!-- <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="top">
        <a ngbNavLink>Top</a>
        <ng-template ngbNavContent>
          <p>this is Top content</p>
        </ng-template>
      </li>
      <li ngbNavItem="middle">
        <a ngbNavLink>Middle</a>
        <ng-template ngbNavContent>
          <p>this is Middle content</p>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div> -->
<div class="list-group">
    <ul>
        <li type="button" class="list-group-item list-group-item-action" *ngFor="let categorie of categories">
            <a routerLink="/categories/{{categorie.split(' ').join('_')}}">{{categorie}}</a>
        </li>
    </ul>
  </div>

