<div *ngIf="isReady | async">
    <div class="logo">Logo</div>
    <div  class="nav-bar">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink routerLink="/">Home</a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink routerLink="/rules">Rules</a>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink routerLink="/categories">Categories</a>
            </li>
            <li *ngIf="(isVip | async) === false" [ngbNavItem]="4">
                <a ngbNavLink routerLink="/vip">Become a VIP!</a>
            </li>
            <li *ngIf="(isVip | async)" [ngbNavItem]="5">
                <a ngbNavLink routerLink="/add_new_question">Add new question</a>
            </li>
            <li *ngIf="!(isLogged | async)" [ngbNavItem]="6">
                <a ngbNavLink routerLink="/login">Login</a>
            </li>
            <li *ngIf="!(isLogged | async)" [ngbNavItem]="7">
                <a ngbNavLink routerLink="/register">Register</a>
            </li>
            <li *ngIf="(isLogged | async)" [ngbNavItem]="8">
                <a ngbNavLink routerLink="/profile">Profile</a>
            </li>
            <li *ngIf="(isLogged | async)" [ngbNavItem]="9">
                <a ngbNavLink routerLink="/logout">Logout</a>
            </li>
        </ul>
    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>