/* ul{
    padding-left: 15%;
} */
.nav-bar{
    text-align: center;
}
.nav-bar ul{
    display: inline-flex;
}
img{
    padding-top: 10px;
    padding-left: 30px;
}
a{
    font-size: larger;
}

::ng-deep .nav-fill .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid #20a8d8;
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #20a8d8;
}