
.list-group-item{
    text-align: center;
    border-radius: 10px;
}
.question-list{
    max-width: 55%;
    min-width: 250px;
    margin-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0px;
}
ul{
    padding: 5px 7px;
    margin-bottom: 7px;
    display: flex;
}

li{
    display: block;
    width: 100px;
    font-weight: bold;
    color:rgb(52, 145, 250);
}

.content {
    width: 80%;
    display: flex;
    margin-top:80px;
    margin-left:auto;
    margin-right: auto;
}

li:hover {
    background-color:  rgb(52, 145, 250);
    color:white;

}



.categories {
    display: flex;
}