.list-group-item{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.question-list{
    max-width: 100%;
    margin-bottom: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
ul{
    padding: 10px;
}