<div class="content">
    <app-personal-rank *ngIf="currentUser | async; else guest" [currentUser]="currentUser | async" [myPoints]="myPoints" [myRank]="myRank"></app-personal-rank>
    <ng-template #guest>
    </ng-template>
    <div class="categories">
        <div class="container question-list">
            <ul>
                <div class="row row-cols-2">
                    <li type="button" class="list-group-item" *ngFor="let category of (categories | async)">
                        <a routerLink="/categories/{{category.split(' ').join('_')}}">{{category}}</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <app-top-players-rank *ngIf="currentUser | async"></app-top-players-rank>
</div>