<body>
<app-page-title [pageTitle]="pageTitle"></app-page-title>

<h3>Just subscribe to our newsletter and special offers and be a Vip member!</h3>

<form  (ngSubmit)="onSubmit(emailForm.value); emailForm.reset()" #emailForm="ngForm">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email"
           #email="ngModel"
           name="email"
           ngModel
           pattern= "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           required
    >
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="alert alert-danger">

        <div *ngIf="email.errors.pattern">
            Invalid email format!
        </div>

    </div>

    <button class="btn btn-success" [disabled]="!emailForm.valid">Submit</button>

</form>


</body>