<app-page-title [pageTitle]="pageTitle"></app-page-title>
<div class="container">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Game rules...">
          <ng-template ngbPanelContent>
              <p>
                  Select a <a routerLink="/categories">category</a> of questions which you want to play.
                  Every correct answer gives you 1 point. You can reach points and compete with other players!
                  MyQuiz is great way for family entertainment, friendly competition or just a team building funny game!
              </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Why I need a registration?">
            <ng-template ngbPanelContent>
                <p>
                    When you create your own account you join to our quiz community!
                    You'll have access to more than 10 categories of questions.
                    Collect points and compete with players all over the world!
                    Remember that only VIP members can answer unlimited times each questions.
                    Regular players can answer each questions only once.
                </p>
            </ng-template>
          </ngb-panel>
        <ngb-panel title="What is a VIP player?">
          <ng-template ngbPanelContent>
              <p>
                  Being a VIP member is a great oportunity for you!
                  You'll have unlimited access to all categories and you'll be able to play whenever you want!
                  Only VIP players can add new questions to categories!
              </p>
          </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>