img{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    max-width: 1000px;
    padding: .5em;
    border: .3em solid rgb(146, 185, 248);
    border-radius: .5rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
}