<app-page-title [pageTitle]="selectedCategorie.split('_').join(' ') + ' questions'"></app-page-title>

<!-- <div *ngIf="finished">
    <p>All questions in {{selectedCategorie}} category was displayed!</p>
    <p>Are you ready for <a type="button" routerLink="/categories">next</a> challenge?</p>
</div> -->

<div class="complete" *ngIf="finished">
    <div class="row justify-content-center">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
             <h3 class="card-title">All questions in {{selectedCategorie}} category was displayed!</h3>
             <p>Are you ready for the next challenge?</p>
             <button class="btn btn-dark" routerLink="/categories">Categories</button>
          </div>
        </div>
      </div>
</div>




<div class="container" *ngIf="!finished">
    <div class="row justify-content-center">
            <div class="timer">
                <a>{{counter}}</a>
            </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary" *ngIf="!finished" (click)="nextButtonHandler()">Next question</button>
    </div>
</div>

<app-question *ngIf="currentQuestion && !finished" [questionData]="currentQuestion"  (sendGivenAnswer)="givenAnswerHandler($event)"></app-question>

