.timer{
    color: red;
    font-weight: bolder;
    font-size: 65px;
    font-family: serif;
    opacity: 85%;
}
.btn-primary{
    background-color: white;
    color: rgb(52, 145, 250);
    border-color: darkblue;
    border-radius: 50%;
}
.btn-primary:hover,.btn-primary:active {
    background-color: sandybrown;
    color:white;
    border-color: white;
    border-style: solid;
}
.container{
    padding-top: 40px;
}
.complete{
    padding-top: 100px;
}

