/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */
html,body{
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 2em auto 1rem;
    padding: .5em;
    border: 3px solid rgb(146, 185, 248);
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
    margin-bottom: 150px;
}
button{
    margin: 5px;
}