<app-page-title [pageTitle]="pageTitle"></app-page-title>
<div class="container">
    <div class="card">
        <img class="card-img-top" src="./assets/quiz_img.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <p class="card-text">
                You can contact me directly in my gitHub repository:
            </p>
            <a href="https://github.com/stanchev89/myQuiz" class="btn btn-primary">GitHub</a>
        </div>
    </div>
</div>