<div class="container">
    <div class="card">
        <img class="card-img-top" src="./assets/quiz_img.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Contacts</h5>
            <p class="card-text">
                You can contact me directly on my gitHub repository or Facebook account:
            </p>
            <a href="https://github.com/stanchev89/myQuiz" class="btn btn-primary">GitHub</a>
            <a href="https://www.facebook.com/vsichkiimenasazaeti/" class="btn btn-primary">Facebook</a>
        </div>
    </div>
</div>