
<!-- Footer -->
<footer class="footer">

    <!-- Footer Elements -->
    <div class="container" *ngIf="!(isLogged$ | async)">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-1">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a routerLink="/register">Sign up!</a>
            </li>
        </ul>

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a routerLink="localhost:4200"> myQuiz.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->