<app-page-title [pageTitle]="selectedCategory?.split('_').join(' ') + ' questions'"></app-page-title>

<!-- <div *ngIf="finished">
    <p>All questions in {{selectedCategorie}} category was displayed!</p>
    <p>Are you ready for <a type="button" routerLink="/categories">next</a> challenge?</p>
</div> -->
<div *ngIf="!regularUserAvailableQuestions">
    <h3>
        You answered all {{selectedCategory}} category questions.
        If you want unlimited access to all questions Became a Vip member!
    </h3>
</div>

<div *ngIf="finished && regularUserAvailableQuestions" class="complete">
    <div class="row justify-content-center">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h3 class="card-title">All questions in "{{selectedCategory | withSpaces}}" category was displayed!</h3>
                <p>Are you ready for the next challenge?</p>
                <button class="btn btn-dark" routerLink="/categories">Categories</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="!finished && regularUserAvailableQuestions" class="container">
    <div class="row justify-content-center">
        <div class="timer">
            <a>{{timeForAnswering}}</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <button (click)="nextButtonHandler()" *ngIf="!finished" class="btn btn-primary">Next question</button>
    </div>
</div>

<app-question (sendGivenAnswer)="givenAnswerHandler($event)" *ngIf="currentQuestion && !finished"
                  [questionData]="currentQuestion"></app-question>