
.container {
    margin-bottom: 50px;
}

.complete {
    padding-top: 100px;
}
a.correct{
    color:green;
    font-weight: bolder;
}
a.incorrect{
    color:red;
    font-weight: bolder;
}
.font-16{
    font-size: 16px;
}

.container.timer {
    width: 400px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 70px;
}

.next {
    border-radius: 10px;
}