
<div class="container" *ngIf="!(user$ | async)">

    <p>You must be <a routerLink="/login">logged in</a> to answer the questions!
        If you don't have registration click <a routerLink="/register">here.</a>
    </p>

</div>

<div class="question" *ngIf="(user$ | async)">
    <div *ngIf="!regularUserAvailableQuestions" class="container">
        <h4>
            You answered or viewed all {{selectedCategory}} questions.
            If you want unlimited access to all questions <a routerLink="/vip">Became a Vip member</a>!
        </h4>
    </div>

    <div *ngIf="finished && regularUserAvailableQuestions" class="complete">
        <div class="container">
                <div class="card-body">
                    <h3 class="card-title">All questions in "{{selectedCategory | withSpaces}}" category was displayed!</h3>
                    <p>Correct answers: <a class="correct">{{currentSessionCorrectAnswers}}</a>.</p>
                    <p>Incorrect answers: <a class="incorrect">{{currentSessionIncorrectAnswers}}</a>.</p>
                    <button class="btn btn-dark" routerLink="/categories">Are you ready for next challenge?</button>
                </div>
        </div>
    </div>

    <div *ngIf="!finished && regularUserAvailableQuestions" class="container">
            <div class="timer">
                <span [class]="MsInSeconds(timeForAnswering) | getTimerClass"> {{MsInSeconds(reverseTimer)}}</span>
                <p>
                <ngb-progressbar [type]="setProgressbarColor(MsInSeconds(timeForAnswering))"
                                 [value]="timeForAnswering"
                                 [striped]="true"
                                 [animated]="true"
                                 height="10px"
                                 [max]="200"
                                 appProgressBarColor
                ></ngb-progressbar>
                </p>
            </div>
        <div class="row justify-content-center">
            <button (click)="nextQuestion()" *ngIf="!finished" class="btn btn-outline-primary">Next question</button>
        </div>
    </div>

    <app-question (sendGivenAnswer)="givenAnswerHandler($event)" *ngIf="currentQuestion && !finished"
                  [questionData]="currentQuestion"></app-question>

</div>