<body>
   <div class="title">
      <h3>Register form</h3>
   </div>
<form (ngSubmit)="onSubmit(userForm); userForm.reset()" #userForm="ngForm" >
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username"
       required minlength="5"
       name="username"
       #username="ngModel"
       ngModel
       >
       <div *ngIf="username.invalid && (username.dirty || username.touched)"
       class="alert alert-danger">
   
     <div *ngIf="username.errors.required">
       Username is required.
     </div>
     <div *ngIf="username.errors.minlength">
        Username must be at least 5 characters long.
     </div>
   </div>
    <label for="password">Set new password:</label> 
    <input type="password" class="form-control" id="password"
       #password="ngModel"
       name="password"
       required minlength="5"
       ngModel
       >
       <div *ngIf="password.invalid && (password.dirty || password.touched)"
       class="alert alert-danger">
   
     <div *ngIf="password.errors.required">
       Password is required.
     </div>
     <div *ngIf="password.errors.minlength">
        Password must be at least 5 characters long.
     </div>
     </div>
    
    <label for="repeatPassword">Repeat password:</label>
    <input type="password" class="form-control" id="repeatPassword"
       required
       name="repeatPassword"
       #repeatPassword="ngModel"
       pattern = "{{password.value}}"
       ngModel
       >       
       <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
       class="alert alert-danger">
   
     <div *ngIf="repeatPassword.errors.required">
       Repeat password is required.
     </div>
     <div *ngIf="repeatPassword.errors.minlength">
        Repeat password must be at least 4 characters long.
     </div>
     <div *ngIf="repeatPassword.errors.pattern">
        Passwords must be equals!
     </div>
     </div>
       <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </form>
</body>