form{
    display: inline-block;
    width: 30%;
}
body{
    text-align: center;
}
label {
    color: rgb(21, 127, 251);
    font-family: sans-serif;
    font-weight: lighter;
}
select{
    width: 300px;
    text-align-last:center;
    display: block;
    align-content: center;
    text-align: center;
    padding: 8px 16px;
}


.select-selected {
    background-color: DodgerBlue;
}